{%extends 'admin.html'%}

{%block content%}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Clientes</h1>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Rut</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Dirección</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
         
          {% for cliente in clientes %} 
          <tr>
            <td>{{ cliente.rut }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>
            <a class="btn btn-secondary mt-3 mb-3" href="{%url 'eliminar_cliente' cliente.rut%}">Eliminar</a>
            <a class="btn btn-secondary mt-3 mb-3" href="{%url 'modificar_cliente' cliente.rut%}">Modificar</a>
            </td>
          </tr>
          {%endfor%}
          
        </tbody>
      </table>

      <div class="d-flex flex-wrap justify-content-center align-items-center" >
          <a class="btn btn-success mt-3 mb-3" id="btn-agregar" href="{%url 'addcliente'%}">Agregar</a>
      </div>

    </div>

  </main>

{%endblock%}